/* Overriding styles */

::-webkit-input-placeholder {
  font-size: 0.8rem !important;
  font-style: italic;
}

::-moz-placeholder {
  font-size: 0.8rem !important;
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.form-field-error {
  font-size: 75%;
  color: red;
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}
